name: "publish to npm"

on:
  push:
    branches:
      - master

jobs:
    publish:
        runs-on: ubuntu-latest
        steps:
            - name: checkout
              uses: actions/checkout@v2
            - name: node
              uses: actions/setup-node@v2
            - name: npm-otp-publish
              uses: mmarchini-oss/npm-otp-publish@v0
              with:
                  node-version: 12
                  registry-url: https://registry.npmjs.org
            - name: publish
              run: npm publish --access public
              env:
                  NODE_AUTH_TOKEN: ${{secrets.NPM_AUTH_TOKEN}}
